<h1 class="text-center">Welcome to Mr. Cocktail</h1>

<div class="row">

  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-4">
      <div class="card">
        <%= image_tag @pictures.detect{|item| item[:name] == cocktail.name }[:picture] %>
        <% #raise %>
        <%= link_to "", cocktail_path(cocktail) %>
        <h3><%= cocktail.name %></h3>
      </div>
    </div>
  <% end %>

</div>
