<h1 class="text-center">Welcome to Mr. Cocktail</h1>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center">
    <% @cocktails.each do |cocktail| %>
      <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
      <hr style="border-color: black;">
    <% end %>
  </div>
</div>
